---
layout: baike
---

<aside>
    <figure>
        <img src="{{ '/assets/img/labrador.jpg' | relative_url }}" />
        <figcaption>拉布拉多寻回犬</figcaption>
    </figure>
</aside>
<article>
    <header>
        <h2>拉布拉多寻回犬（Labrador Retriever）</h2>
        <p>这一和善聪明的犬种喜爱运动和游泳，是众多家庭的最爱</p>
    </header>
    <section>
        <p>拉布拉多寻回犬是人们最熟悉的犬种之一，至少20余年蝉联“最受人喜爱犬种”排名榜首。现代拉布拉多寻回犬的祖先并不像人们常以为的那样来自拉布拉多，而是来自纽芬兰。从18世纪以来长有黑色防水被毛的犬种被当地渔民繁育用于拖拽捕获的鱼群，并寻回漏网之鱼。早期的该类犬种现在已经灭绝，但在19世纪有若干数量的该犬种被带往英格兰，从此开始了现代拉布拉多寻回犬的繁育历程。到20世纪初，该犬被正式认可，因其出色的寻回技能，继续深受田园猎手们的喜爱。</p>
        <p>拉布拉多寻回犬在今天依然是应用广泛的枪猎犬，在其他类型的工作中也效率非凡，如为警方追踪罪犯等。尤其是该犬稳定的性格，使其成为最优秀的导盲犬，然而该犬还是作为家犬最受人喜爱。拉布拉多寻回犬富有爱心且受人喜爱，它容易训练并渴望取悦主人，对儿童和其他家庭宠物安全可靠。但该犬性格过于和善，无法成为很好的护卫犬。</p>
        <p>拉布拉多寻回犬有无穷精力，需要主人让其保持身心活跃以释放能量，它每天必须长距离散步，尤其喜欢有游泳戏水的机会，一旦见到水池就会径直跳入。如果运动量不足或被单独留置过久，该犬会不停吠叫或产生破坏性行为。如果缺乏运动，加之食欲旺盛，拉布拉多寻回犬容易迅速增重，产生肥胖问题。</p>
    </section>
</article>
